%% -*- erlang -*-


{erl_opts, [debug_info]}.
{deps, [
        {cowboy, "2.0.0"},
        {ranch, "1.4.0"},
        {lager, "3.5.1"},
        {ct_msg, {git, "https://github.com/cargotube/ct_msg.git", {branch, "master"}}},
        {ct_router_if, {git, "https://github.com/cargotube/ct_router_if.git", {branch, "master"}}}
       ]}.

{plugins, [
           {rebar3_lint, {git, "https://github.com/bwegh/rebar3_lint.git", {branch, "master"}}}
          ]}.

{elvis, [
         #{dirs => ["."],
           filter => "elvis.config",
           ruleset => elvis_config },
         #{dirs => ["src"],
           filter => "*.erl",
           ruleset => erl_files },
         #{dirs => ["."],
           filter => "Makefile",
           ruleset => makefiles },
         #{dirs => ["."],
           filter => "rebar.config",
           ruleset => rebar_config }
        ] }.
